process.env['TOKEN'] = ''
process.env['STORAGE_LOCATION'] = ''

process.env['WEERWOLVEN_CHANNEL'] = ''
process.env['WEERWOLVEN_BOT_ID'] = ''

process.env['RESTART_MESSAGE_CHANNEL'] = ''

process.env['TRELLO_KEY'] = ''
process.env['TRELLO_TOKEN'] = ''

