{
    "uid": "elsje",
    "append": true,
    "watch": true,
    "script": "elsje.js",
    "args": ["production"],
    "sourceDir": "path/to/elsje",
    "logFile": "elsje-forever.log",
    "outFile": "elsje-out.log",
    "errFile": "elsje-err.log"
}
